[MASTER]
disable =
    import-error,
    missing-module-docstring,
    too-few-public-methods,
    empty-docstring,
    missing-function-docstring,
    import-outside-toplevel,

[FORMAT]
max-line-length = 128
